.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
}

.calculator {
  width: 350px;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px var(--border) solid;
  border-radius: 15px;
  padding: 20px;
  background-color: #000000;
}

.screen {
  width: 338px;
  height: 180px;
  border-radius: 15px;
  background: gray;
  font-size: 40px;
  color: white;
  overflow: hidden;
}

.current-screen {
  min-height: 80px;
  padding: 13px;
  align-self: end;
  overflow-x: auto;
}

.result-screen {
  padding: 13px;
  text-align: end;
}

.btn {
  width: 80px;
  height: 60px;
  margin: 3px;
  font-size: 25px;
  border-radius: 15px;
  background-color: #d4d4d2;
  font-family: "Roboto", sans-serif;
}

.clear {
  width: 166px;
  margin-top: 20px;
}

.current-screen {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.current-screen::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
